/* header {
  height: 180px;
  background-color: #0081a7;
  color: WHITE;
  text-align: center;
}
body {
  background-color: #fdfcdc;
  margin: 0;
} */
.container {
  margin: 0px 0px 80px 0px;
}

#description {
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  align-items: center;
  background-color: #f07167;
}

#antpath {
  margin: 0px 50px;
  font-size: large;
  color: gray;
}

#presentation {
  height: 550px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #fed9b7;
  flex-wrap: wrap;
}

#imgiphone {
  height: 90%;
}

.text {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-text {
  width: 95%;
  height: 55px;
}

.body-text {
  height: 45%;
  width: 95%;
  margin-top: 5%;
  font-size: large;
  text-align: center;
  padding: 20px;
}

#services {
  width: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 70px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.product {
  background-color: #b7d9fe;
  width: 450px;
  height: 300px;
  border-radius: 5%;
  box-shadow: 5px 5px 5px black;
}

button {
  box-shadow: 5px 5px 5px black;
  background-color: #fdfcdc;
}

footer {
  height: 280px;
  background-color: #00afb9;
  color: white;
  text-align: center;
  width: 99.2vw;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
}

h1,
h2 {
  text-align: center;
  font-size: xx-large;
}
h3 {
  text-align: center;
  font-size: x-large;
}
.container-review {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2%;
}

#reviews {
  width: auto;
  height: auto;
  padding: 20px;
  background-color: #fed9b7;
}

.review {
  font-size: medium;
  text-align: center;
  border-radius: 70% /100%;
  padding: 38px;
  box-shadow: 5px 5px 5px black;
  background-color: #fed9b7;
}

/* Google imagen review
 */
#imggoogle {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

#containergoogle {
  margin: auto;
  width: 450px;
  height: 100px;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap");

* {
  box-sizing: border-box;
}

.page-contain {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: #e7f3f1;
  border: 0.75em solid white;
  padding: 2em;
  font-family: "Open Sans", sans-serif;
}

.data-card {
  display: flex;
  flex-direction: column;
  max-width: 20.75em;
  min-height: 20.75em;
  overflow: hidden;
  border-radius: 0.5em;
  text-decoration: none;
  background: white;
  margin: 1em;
  padding: 2.75em 2.5em;
  box-shadow: 0 1.5em 2.5em -0.5em rgba(#000000, 0.1);
  transition: transform 0.45s ease, background 0.45s ease;

  h3 {
    color: #2e3c40;
    font-size: 3.5em;
    font-weight: 600;
    line-height: 1;
    padding-bottom: 0.5em;
    margin: 0 0 0.142857143em;
    border-bottom: 2px solid #753bbd;
    transition: color 0.45s ease, border 0.45s ease;
  }

  h4 {
    color: #627084;
    text-transform: uppercase;
    font-size: 1.125em;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.1em;
    margin: 0 0 1.777777778em;
    transition: color 0.45s ease;
  }

  p {
    opacity: 0;
    color: #ffffff;
    font-weight: 600;
    line-height: 1.8;
    margin: 0 0 1.25em;
    transform: translateY(-1em);
    transition: opacity 0.45s ease, transform 0.5s ease;
  }

  .link-text {
    display: block;
    color: #753bbd;
    font-size: 1.125em;
    font-weight: 600;
    line-height: 1.2;
    margin: auto 0 0;
    transition: color 0.45s ease;

    svg {
      margin-left: 0.5em;
      transition: transform 0.6s ease;

      path {
        transition: fill 0.45s ease;
      }
    }
  }

  &:hover {
    background: #753bbd;
    transform: scale(1.02);

    h3 {
      color: #ffffff;
      border-bottom-color: #a754c4;
    }

    h4 {
      color: #ffffff;
    }

    p {
      opacity: 1;
      transform: none;
    }

    .link-text {
      color: #ffffff;

      svg {
        animation: point 1.25s infinite alternate;

        path {
          fill: #ffffff;
        }
      }
    }
  }
}

@keyframes point {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0.125em);
  }
}
